/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ==== Colors ==== */
    --body-color: #f3eee8;
    --sidebar-color: #fac7dc;
    --primary-color: #f691bb;
    --primary-color-light: #f3eee8;
    --arrow-color: #fae3ed;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* === Transition ===*/
    --tran-03: 0.2 sease;
    --tran-03: 0.3 sease;
    --tran-04: 0.4 sease;
    --tran-05: 0.5 sease;
}

body {
    height: 100vh;  
    background-image: url(file:///Users/thegrljai/Desktop/Bootcamp/The-Code-Barbie/TCB-Portfolio/assets/images/portfolio-background.png);
}
/* ==== Reusable CSS ==== */
.sidebar .icon{
    font-size: 16px;
    font-weight: 500;
}
.sidebar .icon-image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

/* ==== Sidebar ==== */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}
.sidebar li{
    height: 50px;background: var(--primary-color);
    margin-top: 10px;   
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar header{
    position: relative;
}
.sidebar .icon img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .icon{
    display: flex;
    align-items: center;
}

header .icon .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}
.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--arrow-color);
    font-size: 22px;
}