/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Bebas+Neue&family=Black+Ops+One&family=Bungee&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Luckiest+Guy&family=Micro+5&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* ==== Colors ==== */
    --body-color: #f3eee8;
    --sidebar-color: #fac7dc;
    --primary-color: #f8b1e3;
    --primary-color-light: #f3eee8;
    --arrow-color: #fae3ed;
    --toggle-color: #b0809a;
    --text-color: #b41189;
    --nav-link-color: #28292c;
    --dark: #28292c;

    /* === Transition ===*/
    --tran-03: 0.2s ease;
    --tran-03: 0.3s ease;
    --tran-04: 0.4s ease;
    --tran-05: 0.5s ease;
}

body {
    height: 100vh;  
    background-image: url(file:///Users/thegrljai/Desktop/Bootcamp/The-Code-Barbie/TCB-Portfolio/assets/images/tcd-back.png);
}
/* ==== Reusable CSS ==== */
.sidebar .icon{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.sidebar .icon-image{
    min-width: 45px;
    display: flex;
    align-items: center;
}

/* ==== Sidebar ==== */
.sidebar{
    /*position: fixed;*/
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 260px;
    padding: 10px 14px;
    background: var(--sidebar-color);
}

.sidebar.close{
    width: 78px;

}

.sidebar.close .header-text .name,
.sidebar.close .header-text .profession {
    display: none; /* Hide name and profession when sidebar is closed */
}

.sidebar.close .nav-link {
  opacity: 0; /* Hide links when sidebar is closed */
}

.sidebar.close .toggle {
  transform: rotate(180deg); /* Rotate the toggle icon when sidebar is closed */
}

.form.clicked {
  width: 250px; /* Adjust the width of the search bar when clicked */
}

.form.clicked .search {
  fill: #f8b1e3; /* Change the color of the search icon when search bar is clicked */
}


.sidebar li{
    height: 50px;
    margin-top: 10px;   
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    
}

.sidebar li .icon{
    min-width: 50px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding-left: 10px;
}

.sidebar li a{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    text-decoration: none;
}

.sidebar header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar .icon img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .icon{
    display: flex;
    align-items: center;
}

body>header{
  display:flex
}

header .icon .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
    font-family: "Luckiest Guy", cursive;;
    color: #000000;
    margin-left: 20px;

}
.header-text .profession{
    margin-top: -2px;
    margin-left: 20px;
    
}
.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--arrow-color);
    font-size: 22px;
}

.nav-link a{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--nav-link-color);
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--arrow-color);
}

.sidebar .menu-bar{
  top: 10%;
  position: absolute;
}


/* this is a recreation of twitter search in css */
/* Search Button styles */
.form {
    --input-text-color: #ffeaf6;
    --input-bg-color: transparent;
    --focus-input-bg-color: transparent;
    --text-color: #fdfdfd;
    --active-color: #ee1baf;
    --dark: #28292c;
    --width-of-input: 200px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
  }
  /* form style */
  .form {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
    top: 10%;
  }
  /* a fancy bg for showing background and border when focus. */
  .fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  /* label styling */
  label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
  }
  
  .search,.close-btn {
    position: absolute;
  }
  /* styling search-icon */
  .search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
  }
  /* svg -- size */
  svg {
    width: 17px;
    display: block;
  }
  /* styling of close button */
  .close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f8b1e3;
    opacity: 0;
    visibility: hidden;
  }
  /* styling of input */
  .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input::placeholder {
    color: var(--text-color)
  }
  /* input background change in focus */
  .input:focus ~ .fancy-bg {
    border: 1px solid var(--dark);
    background: var(--focus-input-bg-color);
  }
  /* search icon color change in focus */
  .input:focus ~ .search {
    fill: var(#f8b1e3);
  }
  /* showing close button when typing */
  .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
  }
  /* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

  /* Bottom content && Dark/Light Toggle Switch */
  .bottom-content {
    margin-top: 70vh;
    display: flex;
    align-items: left;
  }

  .bottom-content li {
    height: 60px; /* Adjust the height as needed */
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px;
    
    color: var(--nav-link-color);
    
  }
  
  .bottom-content li a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 20px; /* Adjust padding for more space to the right */
    text-decoration: none;
    color: inherit;
    transition: var(--tran-04);
  }
  
  .bottom-content li a:hover {
    background: var(--dark);
    color: #ffffff;
  }
  

  /* Dark/Light Button */
  .toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    transform: scale(0.5);
    right: 213%;
    top: 60px;
    --light: #fac7dc;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  /* Keep the toggle-switch visible 
.bottom-content .toggle-switch {
  position: absolute;
  top: 90%;
  right: -8px; 
}
  */


/* Adjust the position or style as needed for the toggle-switch */

  .switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /* Initially hide the entire log-out item */
.logout-container #log-out {
  display: none;
}

/* Show the entire log-out item when the sidebar is open */
.sidebar:not(.close) .logout-container #log-out {
  display: flex;
}

/* Move the log-out item to the left */
.logout-container #log-out {
  padding: 15px; /* Adjust padding as needed */
}

.logout-container #log-out .bx-log-out {
  margin-right: 10px; /* Adjust margin as needed */
}

/* hero banner styles */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  min-height: 20vh; /* Use min-height instead of height */
  overflow-x: hidden; /* Hide horizontal overflow to prevent scrolling */
}

.row{
  display: flex;
}

.about-img{
  margin-top: 45px;
}

.column-left{
  flex: 1 0 20%;
  text-align: end;
  padding-right: 1%;
}
.column-right{
  flex: 1 0 70%;
  padding-left: 1%;
}
.photo-pin{
  text-align: center;
}
.column-right p{
  text-align: center;
  font-size: 20px;
}
.footer {
  background-color: #c5bfbb;
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding: 20px;
}

.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  margin: 0 5px;
}

.child:hover {
  background-color: white;
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
  transform: perspective(180px) rotateX(60deg) translateY(2px);
  box-shadow: 0px 10px 10px rgb(1, 49, 182);
}

button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}

.button:hover {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
  border-radius: 50%;
}

.copyright-container {
  grid-area: copyright;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Make it span the full width of the footer */
  padding: 1rem;
  background-color: var(--dark); /* Adjust background color as needed */
}

.copyright-container p {
  color: #fff; /* Adjust text color as needed */
  font-size: 14px;
  margin: 0;
}

#contact ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 35px;
}

#contact .column-right a {
  color: var(--nav-link-color); /* Change to your desired link color */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s; /* Smooth transition for color change */
}

#contact .column-right a:hover {
  color: var(--sidebar-color); /* Change to your desired hover color */
}

#big-img{
  display: flex;
  justify-content: center;
}

#big-img img{
  width: 80%;
}

#small-img{
  display: flex;
  position: relative;
  overflow: hidden;
}

#small-img img{
  margin: 15px;
  display: block; /* Ensure images are block elements */
  width: 45%; /* Make images fill the container */
  height: auto; /* Maintain aspect ratio */
}
#small-img::before,
#small-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--arrow-color); /* Add background color for hover effect */
  opacity: 0; /* Start with zero opacity */
  transition: opacity 2.5s;
}
#small-img:hover::before {
  opacity: 1; /* On hover, increase opacity to 1 */
}
#small-img:hover img {
  transform: scale(1.1);
  transition: transform 0.99s;
}

#small-img:hover {
  background-color: var(--arrow-color); /* Add background color on hover */
}

@media only screen and (max-width: 768px) {
  /* Navbar Styles for Mobile */
  .sidebar {
    width: 100%;
  }

  .menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-link {
    margin-bottom: 15px;
  }

  /* Search button */
  .form {
    margin-bottom: 15px;
  }

  /* Bottom Content Styles */
  .bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}
/* Main Content Styles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Hero Section Styles */

.hero {
  width: 100%;
}

.hero-banner img {
  width: 100%;
  height: auto;
}
/* About Section Styles */



.column-left,
.column-right {
  width: 100%;
  margin-bottom: 20px;
}

.about-img {
  width: 75%;
  height: auto;
}

#about {
  width: 100%;
}
/* Work Section Styles */

#work {
  width: 100%;
}

/* Contact Section Styles */

#contact {
  width: 100%;
}
#contact img,
#work img {
  width: 80%; /* Adjust the width as needed */
  max-width: none; /* Ensure it can exceed the maximum width */
}

#small-img img {
  width: 50%; /* Adjust the width as needed for two images in one row */
  max-width: none; /* Ensure it can exceed the maximum width */
}

/* Footer Styles */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c5bfbb;
  color: #fff;
  padding: 20px;
}

.button-link {
  text-decoration: none;
}

.button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

